body
    background-color: dark

.name
    text-align:center;

menu
    display: flex
    justify-content: space-around
    align-content: center
    flex-direction: row 

.menu li a
    color: #9C7026
    font-decoration: none



 
.banner1 
    width: 0px
    height: 0px
    display: block

main 
    padding: 0 3%
    