// @media screen and (min-width: 320px) and (max-width: 480px)
// @media screen and (min-width: 481px) and (max-width: 768px)
// @media screen and (min-width: 768px)


section
    width: 98%
    margin: auto
    padding: 2% 0

.grid1
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    gap: 2em 2em
    padding: 0.2em
    flex-direction: row
    margin: auto


.dish
    margin: auto
    display: flex
    justify-content: space-between
    flex-direction: column
    background-color: #EEEBFD
    height: 40vw

.pic
    height: 30vw
    object-fit: cover

img
    width: 100%
    height: 100%
    object-fit: cover

.desc
    display: flex
    flex-direction: column
    height: 5em

.price
    text-align: right

.heropic
    width: 100%
    height: 40vw
    object-fit: cover
    