@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .dish {
    margin: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #EEEBFD;
    width: 100%;
    padding: 1%;
  }
  .pic {
    width: 50vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 8em;
    padding: 1%;
  }
  .price {
    text-align: right;
    color: green;
  }
  .heropic {
    width: 100%;
    height: 40vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  p {
    font-size: smaller;
  }
  h {
    font-size: smaller;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .grid1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 2em 2em;
    margin: auto;
  }
  .dish {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #EEEBFD;
    width: 100%;
    padding: 2%;
    height: 25vw;
  }
  .pic {
    width: 60%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40%;
    padding: 2%;
  }
  .price {
    text-align: right;
    color: green;
  }
  .heropic {
    width: 100%;
    height: 40vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  p {
    font-size: small;
  }
  h {
    font-size: small;
  }
}

@media screen and (min-width: 768px) {
  .grid1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em 2em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
  }
  .dish {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #EEEBFD;
    height: 40vw;
  }
  .pic {
    height: 30vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 5em;
  }
  .price {
    text-align: right;
    color: green;
  }
  .heropic {
    width: 100%;
    height: 40vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  p {
    font-size: normal;
  }
  h {
    font-size: normal;
  }
}
/*# sourceMappingURL=style.css.map */